body {
  background-color: #5D6D7E;
  color: #dddddd;
  font-family: Arial, helvetica, sans-serif
}

h6 {
  font-style: italic;
}

.name {
  text-align: center;
  color:#5D6D7E;
  border-radius: 25px;
  border: 3px solid #dddddd;
  background-color: #E5E8E8
}

.p1 {
  text-align:justify;
}

.exp-header {
  color: #5D6D7E;
  border-radius: 25px;
  border: 3px solid #dddddd;
  background-color: #E5E8E8;
  padding-left: 12px;
}

.edu-header {
  color: #5D6D7E;
  border-radius: 25px;
  border: 3px solid #dddddd;
  background-color: #E5E8E8;
  padding-left: 12px;
}


img {
  border-radius: 12px;
}

div.polaroid {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  align-content: center;
}

div.container {
  text-align: center;
  padding: 10px 20px
}
