body {
  background-color: #5D6D7E;
  color: #dddddd;
  font-family: Arial, helvetica, sans-serif
}

h6 {
  font-style: italic;
}

.name {
  text-align: center;
  color:#5D6D7E;
  border-radius: 25px;
  border: 3px solid #dddddd;
  background-color: #E5E8E8
}

.p1 {
  text-align:justify;
}

.exp-header {
  color: #5D6D7E;
  border-radius: 25px;
  border: 3px solid #dddddd;
  background-color: #E5E8E8;
  padding-left: 12px;
}

.edu-header {
  color: #5D6D7E;
  border-radius: 25px;
  border: 3px solid #dddddd;
  background-color: #E5E8E8;
  padding-left: 12px;
}

.rec-header {
  color: #5D6D7E;
  border-radius: 25px;
  border: 3px solid #dddddd;
  background-color: #E5E8E8;
  padding-left: 12px;
}

img {
  border-radius: 10px;
}

.kate {
  width: 100px;
  height: 100px;
}

.masonic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.synth{
  width: 200px;
  height: 140px
  
}

.polaroid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  align-content: center;
}

.container {
  text-align: center;
  padding: 10px 20px
}

.hobtitle {
  padding-top: 50px;
  padding-right: 12px;
  padding-left: 20px;
}

.hobbies{
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

.footer {
  position: static;
  width: 100%;
  background-color: #E5E8E8;
  color: #5D6D7E;
  text-align: center;
  border-radius: 12px;
  }
